ul.success li,
ul.error li {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    list-style-type: none;
}

ul.success li {
    color: #3c763d;
    border: 1px solid transparent;
}

ul.error li {
    color: #a94442;
    border: 1px solid #ebccd1;
    background-color: #f2dede;
}